{{ define "nav" }}
<header class="full-bg background-tickets">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_tickets">
  <div class="center_heading">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

<section class="mid_wrap" >

<div class="container">
  <!--<div class="t_rw text-center"><h1>The Open Security Summit has begun!</h1></div>-->
  <!--<div class="t_rw text-center"><h1>Summit 2020 tickets are now for sale</h1></div>-->
  <!--<div class="t_rw text-center"><h2>Limited number of Super Early Bird tickets available!</h2></div>-->

  <!--<div class="t_rw text-center"><h2>We have multiple types of tickets available at the Summit, please see below for details.</h2></div>-->

  <div>
    <div class="row">
      <div class="col-sm-8">
        <!--<div class="group_discount ul_bx">-->
          <!--<h3>Group Discount (for the 5 day tickets)</h3>-->
          <!--<ul>-->
            <!--<li>If you buy 5 to 9 tickets you get 10% discount</li>-->
            <!--<li>If you buy more than 10 tickets you get 20% discount</li>-->
          <!--</ul>-->


        <!--</div>-->
        <div class="buy_using ul_bx">
          <h3>The Open Security Summit has begun!</h3>
          <p>It's not too late to register as a remote participant</p>
        </div>

        <!--<div class="buy_using ul_bx">-->
          <!--<h3>Buy using invoice</h3>-->
          <!--<ul>-->
            <!--<li>If you want to purchase via an invoice - preventing Eventbrite fees - contact us at <a href="mailto:info@opensecsummit.org" class="link_1">info@opensecsummit.org</a></li>-->

          <!--</ul>-->


        <!--</div>-->

      </div>
      <div class="col-sm-4 text-center"><img src="/img/blocks/ticket.png" class="img-responsive"  alt="ticket img"></div>

      <div class="row text-center">
          <div class="col-md-offset-4 col-md-4">
            <div class="oss-card-small-bottom">
            </div>
        </div>
      </div>


    </div>

  </div>




      <!-- Noscript content for added SEO -->
      <noscript><a href="https://www.eventbrite.com/e/open-security-summit-2020-tickets-61289312985" rel="noopener noreferrer" target="_blank"></noscript>
      <!-- You can customize this button any way you like -->
      <div class="row text-center">
          <div class="col-md-offset-4 col-md-4">
            <div class="oss-card-small-bottom">
              <button id="eventbrite-widget-modal-trigger-61289312985" type="button" class="btn oss-card-small-button">Register on EventBrite</button>
            </div>
          </div>
        </div>
  
      <noscript></a>Buy Tickets on Eventbrite</noscript>

      <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

      <script type="text/javascript">
         var exampleCallback = function() {
             console.log('Order complete!');
         };

         window.EBWidgets.createWidget({
             widgetType: 'checkout',
             eventId: '61289312985',
             modal: true,
             modalTriggerElementId: 'eventbrite-widget-modal-trigger-61289312985',
             onOrderComplete: exampleCallback
         });
      </script>



</div><!-- container -->

</section>

  {{ end }}
