<section class="attend-summit-section">
  <div class="container container-xl">
    <div class="attend-block">
      <div class="section-overtitle attend-overtitle">WHY ATTEND THE SUMMIT?</div>
      <p  class="section-title attend-title">THE PLACE WHERE THE BEST SECURITY MINDS WORK TOGETHER</p>
      <p class="section-paragraph attend-paragraph">Join us for this unique event where you will connect, learn and collaborate. Not just your usual conference with plenaries and a single stream, the Open Security Summit takes you away from your everyday work and immerses you in Working Sessions to collaborate and come up with deliverables, and User Sessions to upskill and get hand-on experience, as well as plenty of opportunity to network with some of the most-skilled professionals in this field.
      </p>
      <div class="attend-hero"><img src="/img/home/nice-girl.jpg" alt="why attend summit photo"></div>
    </div>
    <div class="attend-numbers">
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">20</div>
        <span class="section-overtitle attend-term">speakers</span></div>
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">1000</div>
        <span class="section-overtitle attend-term">tickets</span></div>
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">50</div>
        <span class="section-overtitle attend-term">sponsors</span></div>
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">30</div>
        <span class="section-overtitle attend-term">sessions</span></div>
    </div>
  </div>
</section>
