<section class="attend-summit-section">
  <div class="container container-xl">
    <div class="section-overtitle">WHY ATTEND THE SUMMIT?</div>
    <div class="section-title">SECURITY MINDS WORK TOGETHER</div>
    <div
      class="section-paragraph">Join us for this unique event where you will connect, learn and collaborate. Not just your usual conference with plenaries and a single stream, the Open Security Summit takes you away from your everyday work and immerses you in Working Sessions to collaborate and come up with deliverables, and User Sessions to upskill and get hand-on experience, as well as plenty of opportunity to network with some of the most-skilled professionals in this field.
    </div>
    <div class="attend-picture"><img src="/img/home/nice-girl.jpg" alt="why attend summit photo"></div>
  </div>
</section>
