<section class="booking-section">
  <div class="container booking-container">
    <div class="booking-blocks">
      <div class="booking-banner">
        <div class="booking-banner-text">

          <div>
            <div class="booking-title">Free</div>
            <div class="booking-free">Yes, 100% Free</div>
          </div>
          <div>
            <div class="booking-leader">
              <img src="/img/home/booking/check.svg" alt="check"/><span>OWASP Leader / Member</span>
            </div>
            <div class="booking-students">
              <img src="/img/home/booking/check.svg" alt="check"/><span>Students & LLHS Members</span>
            </div>
          </div>
        </div>
      </div>
      <div class="booking-buy">
        <div class="booking-summit">
          <div class="section-overtitle booking-overtitle">summit sessions have started on the 15th of June</div>
          <a href="https://open-security-summit-2020.heysummit.com/checkout/select-tickets/">
            <div class="booking-book">buy summit Ticket</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
