<section class="booktickets-section">
  <div class="container-xl">
    <div class="booking-blocks">
      <div class="booking-banner">
        <div class="booking-banner-text">

          <div class="booking-title">Free</div>
          <div class="booking-free">Yes, 100% Free</div>
          <div class="booking-leader"><img src="{{ .Site.BaseURL }}img/home/booking/check.svg" alt="check">OWASP Leader
            /
            Member</div>
          <div class="booking-students"><img src="{{ .Site.BaseURL }}img/home/booking/check.svg" alt="check">Students &
            LLHS Members</div>
        </div>
      </div>
      <div class="booking-buy">
        <div class="booking-trainig">
          <div class="section-overtitle booking-overtitle">the training <br>sessions have started!</div>
          <a href="https://pre-summit-training-sessions.heysummit.com/checkout/select-tickets/">
            <div class="booking-book">buy Training Ticket</div>
          </a>
        </div>
        <div class="booking-summit">
          <div class="section-overtitle booking-overtitle">summit sessions start <br>on the 15<sup
              style="font-size: 10;">th</sup> of June
          </div>
          <a href="https://open-security-summit-2020.heysummit.com/checkout/select-tickets/">
            <div class="booking-book">buy summit Ticket</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>