<section class="booktickets-section">
  <div class="container container-xl">
    <div class="booking-blocks">
      <div class="booking-banner">
        <div class="section-overtitle booking-overtitle">time is running out</div>
        <div class="booking-book">book your ticket</div>
      </div>
      <div class="booking-countdown">
        <img src="/img/home/countdown.png" alt=""/>
<!--
        <div class="countdown-timer-container text-center">
          <div id="offer-countdown" class="countdown-timer countdown-centered countdown-lg">
          </div>
          <p class="text-center text-mutedm no-margin-bottom">Until the conference starts</p>
        </div>
-->
      </div>
    </div>
  </div>
</section>
