<section class="hero-section">
  <div class="container hero-block__wrapper">
    <div class="hero-block">
      <p class="hero-numbers">5 days Summit - 10 days Training</p>
      <div class="hero-title">OPEN SECURITY SUMMIT</div>
      <div class="hero-when-where">
        <div class="hero-icon"><img src="/img/home/globe.png" alt="globe"/></div>
        <div class="hero-where">Virtual Conference</div>
        <div class="hero-icon"><img src="/img/home/calendar.png" alt="globe"/></div>
        <div class="hero-when">June 15 to 19, 2020</div>
      </div>
      <div class="hero-buttons">
          <a href="/training" style="color:white">
              <button class="hero-button hero-button__trainings">
                  Training
              </button>
          </a>
        <a href="/tracks" style="color:white">
            <button class="hero-button hero-button__booktickets">
                Summit
            </button>
        </a>
      </div>
    </div>
  </div>
</section>
