<section class="hero-section">
  <div class="container hero-block__wrapper">
    <div class="hero-block">
      <p class="hero-numbers">5 days - 12 SPEAKERS - 10 TRACKS</p>
      <div class="hero-title">OPEN SECURITY SUMMIT</div>
      <div class="hero-when-where">
        <div class="hero-where">London, UK</div>
        <div class="hero-when">June 15 to 19, 2020</div>
      </div>
      <div class="hero-buttons">
        <button class="hero-button hero-button__trainings">Trainings</button>
        <button class="hero-button hero-button__buytickets">Buy Tickets</button>
      </div>
    </div>
  </div>
</section>
