<section class="section rewind-section">
  <div class="container container-xl">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="video-item">
            <div class="source">
              <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/yyKLD3_FySQ" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/yyKLD3_FySQ?autoplay=1>
          <img src=https://img.youtube.com/vi/yyKLD3_FySQ/hqdefault.jpg
          alt='OSS Closing Keynote at a virtual pub setting'><span>▶</span></a>" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="words">
              <div class="author">Open security summit</div>
              <div class="description">OSS Closing Keynote at a virtual pub setting (19 Jun 2020)</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="video-item">
            <div class="source">
              <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/cq7QQkEtxq4" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/cq7QQkEtxq4?autoplay=1>
          <img src=https://img.youtube.com/vi/cq7QQkEtxq4/hqdefault.jpg
          alt='Experience LeanInAgile'><span>▶</span></a>" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="words">
              <div class="author">Leila Rao</div>
              <div class="description">Experience LeanInAgile (19 Jun 2020)</div>
            </div>
          </div>        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
