{{ $today := .Site.Data.schedule.config.today}}
{{ $this  := . }}

{{ $day_sessions := where .Site.Pages ".Params.when_day" $today.key }}

{{ range sort $day_sessions ".Params.when_time"  }}
    {{ if .Params.when_time }}
        {{ if .Params.hey_summit }}
            {{ $this.Scratch.Add "pages" (slice .) }}
        {{ end }}
    {{ end}}
{{ end}}

{{ $sessions := $this.Scratch.Get "pages" }}

<section class="schedule">
    <div class="container container-xl">
        <div class="schedule-wrapper">
            <div class="schedule-header">
                <h6 class="schedule-title">The training sessions have started!</h6>
                <h2 class="schedule-subtitle">{{$today.day}} {{$today.date}} June - Schedule</h2>
            </div>

            <div class="__schedule-table__" style="display: flex; padding: 0; background-color: #f3f8ec;}">
                <div class="schedule-days">
                    {{ range $sessions}}
                        {{ if .Params.hey_summit }}
                            <div class="schedule-days-item">
                                <div class="rot-90">
                                    <div class="day-subtitle">{{ humanize .Params.type}}</div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end}}
                </div>

                <div class="schedule-description">
                    {{ range $sessions}}
                        {{ if .Params.hey_summit }}
                            {{ $time  := index .Site.Data.schedule.times .Params.when_time }}
                            {{ $title := .Params.title }}
                            {{ $organizers := partial "params/organizers.html" .  }}
                            <div class="schedule-description-item">
                                <div class="schedule-point">
                                    {{ range first 1 $organizers }}
                                        <a href="{{.Permalink}}">
                                            <img src="{{.Params.image}}"
                                                 alt="{{.Params.title}}">
                                        </a>
                                    {{ end }}
                                </div>
                                <div class="schedule-point-tag">
                                    <div class="schedule-tag-time">{{ $time }}</div>
                                    <a class="author-link" href="{{.Permalink}}">
                                        <div class="schedule-tag-title">{{ .Params.title }}</div>
                                    </a>
                                    <div class="schedule-tag-author">
                                        by
                                        {{range $index, $element :=  $organizers }}
                                            {{ if $index }} , {{ end }}
                                            <a class="author-link"
                                               href="{{.Permalink}}">
                                                {{.Params.title}}
                                            </a>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>>
        </div>
    </div>
</section>
