<section class="schedule">
  <div class="container container-xl">
    <div class="schedule-wrapper">
      <div class="schedule-header">
        <h6 class="schedule-title">The training sessions have started!</h6>
        <h2 class="schedule-subtitle">Thursday 4st June - Schedule</h2>
      </div>
      <div class="__schedule-table__" style="display: flex; padding: 0; background-color: #f3f8ec;}">
        <div class="schedule-days">
          <div class="schedule-days-item">
            <div class="rot-90">
              <div class="day-subtitle">training</div>
              <div class="day-title">session</div>
            </div>
          </div>
          <div class="schedule-days-item">
            <div class="rot-90">
              <div class="day-subtitle">training</div>
              <div class="day-title">session</div>
            </div>
          </div>
          <div class="schedule-days-item">
            <div class="rot-90">
              <div class="day-subtitle">training</div>
              <div class="day-title">session</div>
            </div>
          </div>
        </div>


        <div class="schedule-description">
          <div class="schedule-description-item">
            <div class="schedule-point">
              <a href="/participant/organizers/adam-leon-smith/"><img
                src="https://pbs.twimg.com/profile_images/535742481539665920/-sBVTmL9_400x400.jpeg"
                alt="Adam Leon Smith photo"></a>
            </div>
            <div class="schedule-point-tag">
              <div class="schedule-tag-time">11:00 - 13:00 (BST)</div>
              <a class="author-link" href="/training/week-1/covid/covid-safe-paths-threat-modeling-part-1/">
                <div class="schedule-tag-title">COVID SAFE PATHS - THREAT MODELING PART 1</div>
              </a>
              <div class="schedule-tag-author">by <a class="author-link" href="https://open-security-summit-2020.heysummit.com/speakers/dinis-cruz/">Dinis Cruz</a>, <a class="author-link" href="/participant/organizers/mark-carney/">Mark Carney </a>, <a class="author-link" href="/participant/organizers/jay-harris/">Jay Harris</a> and <a class="author-link" href="/participant/organizers/adam-leon-smith/">Adam Leon Smith</a>
              </div>
            </div>
          </div>
          <div class="schedule-description-item">
            <div class="schedule-point">
              <a href="/participant/organizers/ben-schofield/"><img
                src="https://media-exp1.licdn.com/dms/image/C4E03AQGSgrjj-5Xe_g/profile-displayphoto-shrink_800_800/0?e=1596672000&v=beta&t=l0qjWOxtA6ythBLN1cnkxQOuLggQ8gWTIFreLzIzqHo"
                alt="Ben Schofield photo"></a>
            </div>
            <div class="schedule-point-tag">
              <div class="schedule-tag-time">14:00 - 16:00 (BST)</div>
              <a class="author-link" href="/training/week-1/ciso-and-risk-management/trusted-partner-network-demo/">
                <div class="schedule-tag-title">Trusted Partner Network demo</div>
              </a>
              <div class="schedule-tag-author">by <a class="author-link" href="/participant/organizers/ben-schofield/">Ben Schofield</a>
              </div>
            </div>
          </div>
          <div class="schedule-description-item">
            <div class="schedule-point">
              <a href="participant/glasswall/dinis-cruz/">
              <img src="https://s3.amazonaws.com/heysummit-production/media/thumbnails/uploads/events/open-security-summit-2020/2TpHAUjVvDQFcpBwmuHqSj_square_large.png" alt="Dinis Cruz photo"></a>
            </div>
            <div class="schedule-point-tag">
              <div class="schedule-tag-time">17:00 - 19:00 (BST)</div>
              <a class="author-link" href="/training/week-1/hacking-and-defending/hacking-glasswall-sdk-and-cloud-friday/">
                <div class="schedule-tag-title">Hacking Glasswall SDk & Cloud - Part 1</div>
              </a>
              <div class="schedule-tag-author">by <a class="author-link" href="participant/glasswall/dinis-cruz/">Dinis Cruz</a></div>
            </div>
          </div>
        </div>
      </div>
      <a href="https:/open-security-summit.org/training/">
        <button class="schedule-button">
          Click here for Detailed Training Schedule
        </button>
      </a>
    </div>
  </div>
</section>
