<section>
  <div class="speakers">
    <div class="row">
      <div class="card_description col-md-6">
        <div class="title">Our Speakers who is speaking.</div>
        <div class="description">
          There are many variations of passages of available but the majority
          have suffered alteration in some form, by injected humour, or
          randomised words which don't look even slihtl believable. It has
          survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged.
        </div>
        <button>View all speakers</button>
      </div>
      <div class="card_speaker col-md-3">
        <img src="" alt="" />
        <div class="speaker_name center">DINIS CRUZ</div>
        <div class="speaker_description">Open Source Summit OIC</div>
      </div>
    </div>
  </div>
</section>
