<section class="schedule-section">
  <div class="container container-xl">
    <div class="schedule-day-block">
      <p class="schedule-day">Monday, 1st June, 2020</p>
      <div class="schedule-sessions">
        <a class="schedule-session" href="/training/week-1/cloud-security/cloud-security-101/">
          <div class="schedule-session-id">WS-2</div>
          <div class="schedule-session-hours">14:00 - 16:00</div>
          <div class="schedule-session-title">Threat Modeling - O365 SaaS Provider</div>
        </a>
        <div class="schedule-session">
          <div class="schedule-session-id">WS-3</div>
          <div class="schedule-session-hours">17:00 - 19:00</div>
          <div class="schedule-session-title">Covid Apps Analysis</div>
        </div>
        <div class="schedule-session">
          <div class="schedule-session-id">BK-3</div>
          <div class="schedule-session-hours">19:00 - 20:00</div>
          <div class="schedule-session-title">MultiJuicer Introduction</div>
        </div>
        <div class="schedule-session">
          <div class="schedule-session-id">WS-4</div>
          <div class="schedule-session-hours">20:00 - 22:00</div>
          <div class="schedule-session-title">Drinks and Persona Building: Creating Adversary Trading Cards (1st Session)</div>
        </div>
      </div>
    </div>
    <div class="schedule-day-block"><p class="schedule-day">Tuesday, 2nd June, 2020</p>
      <!--
      .schedule-sessions>(.schedule-session>.schedule-session-id>a[href="/training/week-1/"]+.schedule-session-hours+.schedule-session-title)*5
      -->
    </div>
    <div class="schedule-day-block"><p class="schedule-day">Wednesday, 13rd June, 2020</p>
      <div class="schedule-sessions">
        <div class="schedule-session">
          <div class="schedule-session-id">WS-2</div>
          <div class="schedule-session-hours">14:00 - 16:00</div>
          <div class="schedule-session-title">Wardley Mappping introduction with Cat Swetel</div>
        </div>
        <div class="schedule-session">
          <div class="schedule-session-id">WS-4</div>
          <div class="schedule-session-hours">20:00 - 22:00</div>
          <div class="schedule-session-title">Covid Apps</div>
        </div>
      </div>
    </div>
    <div class="schedule-day-block"><p class="schedule-day">Thursday, 4th June, 2020</p></div>
    <div class="schedule-day-block"><p class="schedule-day">Friday, 5th June, 2020</p></div>
  </div>
</section>
