/* your styles go here */

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/fonts/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2') format('woff2'), url('/fonts/Roboto-Slab-Regular.woff') format('woff');
    unicode-range: U + 0000 -00FF, U + 0131, U + 0152 -0153, U + 02 C6, U + 02 DA, U + 02 DC, U + 2000 -206F, U + 2074, U + 20 AC, U + 2212, U + 2215;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local('Oswald Medium'), local('Oswald-Medium'), url('/fonts/oswald-medium-webfont.woff2') format('woff2'), url('/fonts/oswald-medium-webfont.woff') format('woff');
    unicode-range: U + 0000 -00FF, U + 0131, U + 0152 -0153, U + 02 C6, U + 02 DA, U + 02 DC, U + 2000 -206F, U + 2074, U + 20 AC, U + 2212, U + 2215;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Regular'), local('Oswald-Regular'), url('/fonts/oswald-regular-webfont.woff2') format('woff2'), url('/fonts/oswald-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    src: local('Oswald Bold'), local('Oswald-Bold'), url('/fonts/oswald-bold-webfont.woff2') format('woff2'), url('/fonts/oswald-bold-webfont.woff') format('woff');
}
