#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333333;
}
#footer h3 {
    font-family: 'Oswald-Medium';
    font-size: 20px;
    text-transform: uppercase;
    color: #EAEAEA;
}
#footer p {
    color: #EAEAEA;
    font-size: 14px;
}
#footer img {
    padding-right: 10px;
    padding-bottom: 10px;
    width: 60px;
}
/* fix footer sizes on small devices */
@media (max-width:450px) {
    #footer h3 {
        font-size: 14px;
    }
    #footer p {
        font-size: 10px;
    }
    #footer img {
        font-size: 10px;
        width: 40px;
    }
}
