header.full-bg {
    position: relative;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

header.full-bg .home-carousel {
    background: none;
}

header.full-bg .navbar-default {
    background: transparent;
}

header.full-bg .dark-mask {
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #082451;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-affixed-top.affix .navbar-default {
    background-color: #ffffff;
}


/* change navbar style */

.navbar ul.nav>li>a {
    color: #87bb40;
    text-decoration: none;
    border-bottom: solid 4px transparent;
    border-top: 0 none;
}

.navbar ul.nav>li>a:hover {
    border-top: 0 none;
    border-bottom: 4px solid #87bb40;
}

.navbar ul.nav>li.active>a,
.navbar ul.nav>li.open>a {
    text-decoration: none !important;
    border-top: 0 none;
    border-bottom: 4px solid #87bb40;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF;
    background-color: rgba(135, 187, 64, .2);
    border-bottom: 4px solid #87bb40;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: rgba(135, 187, 64, .2);
    border-bottom: 4px solid #87bb40;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: rgba(135, 187, 64, .2);
    color: #ffffff;
    border-bottom: 4px solid #87bb40;
}

.dropdown-menu {
    background-color: #87bb40;
    border: 0 none;
}

.navbar ul.dropdown-menu li {
    border-bottom-color: #102d50;
}

.navbar ul.dropdown-menu li:last-child {
    border-bottom: 0 none;
}

.navbar ul.dropdown-menu li:hover {
    background-color: #21424e;
}

.navbar ul.dropdown-menu li a {
    color: #fff;
}

.navbar ul.dropdown-menu li a:hover {
    color: #fff;
    left: 0;
}

div#navigation.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li.dropdown a {
    font-family: 'Oswald' !important;
    font-weight: normal;
}