$xxl-breakpoint: 1920px;
$xl-breakpoint: 1200px;
$lg-breakpoint: 992px;
$md-breakpoint: 768px;
$sm-breakpoint: 576px;

$xxl-container-width: 1894px;
$xl-container-width: 1140px;
$lg-container-width: 960px;
$md-container-width: 720px;
$sm-container-width: 540px;


$main-menu-height: 66px;
$xxl-hero-container-height: 1042px;



.section {
  &-paragraph {
    font-size: 22px;
    color: $desc-text-color;
  }
  &-overtitle {
    text-transform: uppercase;
    font-size: 20px;
    color: $main-action-text-color;
  }
  &-title {
    text-transform: uppercase;
    font-size: 56px;
    color: $main-background-color;
  }
  //clear: both
}

.hero-section {
  background-color: $main-background-color;
  color: $main-inverse-text-color;
  .container {
    height: 655px;
    background-position: top left;
    background-image: url("#{$base-url}/img/home/hero-medium-bg.png");
  }
}

.hero {
  &-block {
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &-button {
    &__trainings {
      background-color: $main-active-link-color;
    }
    &__booktickets {
      background-color: $main-action-text-color;
    }
  }
}

.booktickets-section {
  background-image: url("#{$base-url}/img/home/bookyourticket-bg-25.png"), linear-gradient(to right, #61872e 0%, #86ba40 100%);
  background-repeat: repeat-x;
  .container {
    height: 332px;
    //margin-top: -$main-menu-height;
    background-position: top left;
  }
}

.container-managed {
  &.xxl {
    section {
      margin-top: -$main-menu-height;
      margin-bottom: $main-menu-height;
      font-family: 'Oswald', helvetica neue, helvetica, sans-serif ;
      h1, h2, h3, h4, h5, h6, button {
        font-family: 'Oswald', helvetica neue, helvetica, sans-serif ;
      }
    }
  }
}


/*****************************/
/** Attend the summit styles **/
/*****************************/

.attend {
  &-block {
    text-align: center;
    margin: auto;
    padding-top: 150px;
  }
  &-title {
    font-family: 'Oswald Medium', helvetica neue, helvetica, sans-serif ;
    font-weight: bold;
    max-width: 800px;
    margin: 30px auto 0 auto;

  }
  &-paragraph {
    padding-left: 100px;
    padding-right: 100px;
    margin: 30px auto 0 auto;
  }
  &-card {
    text-align: center;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  &-number {
    font-size: 59px;
    letter-spacing: 3.6px;
    color: $main-background-color;
  }
  &-hero {
    margin-top: 65px;
  }

}
/* End of Attend the summit styles */


/*****************************/
/**** book tickets styles ****/
/*****************************/

.booking {
  &-blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  &-banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  &-countdown {
    text-align: center;
  }
  &-overtitle {
    color: $main-inverse-text-color;
    letter-spacing: 4px;
  }
  &-book {
    margin-top: 10px;
    background-color: $main-background-color;
    color: $main-inverse-text-color;
    padding: 0 50px 0 50px;
    font-size: 50px;
    text-transform: uppercase;
    border-radius: 35px;
  }
}



/*****************************/
/***** Speakers styles *******/
/*****************************/
.section {
  &-speakers {
    background-color: $alt-background-color;
  }
}

.speaker {
  &_tag {
    text-align: center;
  }
  &_name {
    position: relative;
    display: inline-block;
    // text-align: center;
    font-size: 20px;
    color: $main-header-color;
    transition: all 0.2s;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 23px;
      width: 0;
      height: 1px;
      background-color: $main-action-text-color;
      transition: all 0.2s;
    }
    &:hover {
      color: $main-action-text-color;
      cursor: pointer;
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
  &_description {
    text-align: center;
    font-size: 18px;
    color: $desc-text-color;

  }
  &s {
    padding-top: 153px;
    padding-bottom: 80px;
    font-family: 'Oswald', helvetica neue, helvetica, sans-serif ;
    text-align: left;
    &_overtitle {
      margin-top: 0;
    }
    &_title {
      margin-top: 0;
    }
    &_button {
      width: 209px;
      height: 58px;
      border: none;
      background-color: #86ba40;
      text-transform: uppercase;
      font-size: 20px;
      color: $main-inverse-text-color;

    }
    .card {
      &_speaker {
        margin-bottom: 30px;
      }
    }
  }
}
/* End of Speakers styles */


/*****************************/
/*** XXL BREAKPOINT ONLY *****/
/*****************************/
@media screen and (min-width: $xxl-breakpoint) {
  .container-managed {
    &.xxl {
      section {
        background-repeat: no-repeat;
      }
      .container {
        width: 100%;
      }

      section {
        &>.container {
          width: $xxl-container-width;
          &.container-xl {
            width: $xl-container-width;
          }
        }
      }

      .hero-section {
        .container {
          height: $xxl-hero-container-height;
          background-image: url("#{$base-url}/img/home/hero-bg.png");
        }
      }
      .attend-summit-section {
        .container {
          width: $xl-container-width;
        }
      }
      .booktickets-section {
        background-repeat: repeat-x;
      }
    }

  }
}



/*****************************/
/****** XXL BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $xxl-breakpoint) {

}


/*****************************/
/******* XL BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $xl-breakpoint) {
  .hero-section {
    background-image: url("#{$base-url}/img/home/hero-medium-bg.png");
    .container {
      height: 660px;
      background: none;
    }
  }
  .attend {
    &-paragraph {
      padding-left: 10px;
      padding-right: 10px;
    }
    &-hero {
      max-width: 90%;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }

}


/*****************************/
/***** LG BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $lg-breakpoint) {
  .hero-section {
    .container {
      height: 539px;
    }
  }
  .booking {
    &-blocks {
      flex-direction: column;
    }
  }
}




/*****************************/
/***** MD BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $md-breakpoint) {
}




/*****************************/
/***** SM BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $sm-breakpoint) {
}





/* SHEDULE */

.shedule {
  padding-top: 110px;
  padding-bottom: 100px;
  &-table {
    display: flex;
    padding: 0;
    height: 1468px;
    background-color: $alt-background-color;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .day {
    &-title {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      font-family: Oswald;
      text-transform: uppercase;
    }
    &-subtitle {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      font-family: Oswald;
      text-transform: uppercase;      
    }
  }
  &-days {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $main-inverse-text-color;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 98px;
      height: 282px;
      background-color: $alt2-active-color;
      & .rot-90 {
        display: inline-block;
        margin: 0;
        text-align: center;
        transform: rotate(-90deg);
      }
    }
  }
  &-title {
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 20px;
    color: $main-action-text-color;
  }
  &-subtitle {
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 56px;
    color: $main-background-color;
  }
  &-description {
    width: 100%;
    margin: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $main-inverse-text-color;
    &-item {
      padding-left: 60px;
      padding-right: 60px;
      width: 100%;
      height: 282px;
      display: flex;
      align-items: center;
    }
  }
  &-point {
    // margin-left: 60px;
    margin-right: 47px;
    width: 122px;
    height: 122px;
    background: $main-header-color;
    border-radius: 50%;
    &-tag {
      width: 85%;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 38px;
    }
  }
  &-tag {
    padding-left: 38px;
    &-time {
      font-family: Oswald;
      font-size: 18px;
      letter-spacing: 3.6px;
      line-height: 50px;
      color: #86ba40;
    }
    &-title {
      font-family: Oswald;
      font-size: 34px;
      font-weight: 400;
      line-height: 50px;
      text-transform: uppercase;
      color: $main-background-color;
    }
    &-author {
      font-size: 20px;
      line-height: 40px;
      & .author-link {
        color: $main-active-link-color;
      }
    }
    &-bg {
      background-color: $alt-background-color;
    }
  }
  &-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 16px 36px;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: $main-inverse-text-color;
    background: url("#{$base-url}/img/home/shedule/shedule-button.png") no-repeat;
  }
}

/* END OF SHEDULE */

/* PHOTO GALLERY */

.section {
  &-gallery {
    max-width: 1900px;
  }
}

.photo {
  &-gallery {
    &-grid {
      // width: 100vw;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
    }
    &-item {
      &-1 {
        grid-column: 1 / span 2;
      }
      &-6 {
        grid-column: 3 / span 2;
      }
    }
  }
}