/*****************************/
/** BREADCRUMBS PAGE styles **/
/*****************************/

.breadcrumb {
  text-align: center;
  background-color: $main-background-color;

  &-container {
    background-image: url("#{$base-url}/img/pages/schedule-bg.png"), url("#{$base-url}/img/pages/working_sessions.jpg");
    height: 270px;
    background-position-x: -81px;
    background-position-y: -81px;
    background-repeat: no-repeat;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: $main-menu-height;
  }

  h1 {
    color: $main-action-text-color;
    font-family: 'Oswald Medium', "Helvetica Neue", sans-serif;
    font-size: 64px;
  }

}

/* end of BREADCRUMBS styles */


/*****************************/
/**** SCHEDULE PAGE styles ***/
/*****************************/

$schedule-day-block-margin-top: 70px;
$schedule-day-block-margin-top-xl: 50px;
$schedule-day-block-margin-top-lg: 25px;
$schedule-day-block-margin-top-md: 30px;
$schedule-divider-top-padding: 20px;
$schedule-divider-top-padding-md: 15px;
$schedule-timing-padding: 2px 10px;

.schedule {
  &-day {
    color: $main-background-color;
    font-size: 36px;
    font-family: 'Oswald Medium', helvetica neue, helvetica, sans-serif;

    &-block {
      margin-top: $schedule-day-block-margin-top;
      font-size: 30px;
    }
  }

  &-section {
    //background: url("#{$base-url}/img/backgrounds/shapes-xxl-bg.png") center center repeat;
    //background-position-x: 100em;
  }

  &-session {
    &s {
      position: relative;

      &:before {
        position: absolute;
        top: -$schedule-divider-top-padding;
        left: 285px;
        content: ' ';
        display: block;
        height: calc(100% + #{$schedule-divider-top-padding} + #{$schedule-day-block-margin-top});
        width: 1px;
        background-color: $main-active-link-color;
      }

      a {
        &:hover {
          text-decoration: none;
        }

        .schedule-session-title {
          color: $main-background-color;
        }
      }
    }


    margin: 20px 0;
    display: grid;
    grid-template-columns: 1.2fr 3fr 11fr;
    //grid-column-gap: 20px;
    &-id, &-hours {
      padding: $schedule-timing-padding;
      color: $main-action-text-color;
    }

    &-id {
      padding: $schedule-timing-padding;
      text-align: right;
      border-right: solid 1px $main-action-text-color;
      padding-left: 0;
    }

    &-hours {
      //padding: $schedule-timing-padding;
    }

    &-title {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 24px;
      background-color: $schedule-table-background-color;
      color: $main-background-color;
      padding: 5px 20px;
    }

    &__user-session {
      color: $main-action-text-color;

      .schedule-session {
        &-id, &-hours {
          color: $main-active-link-color;
        }

      &-title {
        color: $main-inverse-text-color;
        background-color: $main-active-link-color;
      };
      }
    }
  }
}

/* end of SCHEDULE styles */


/*****************************/
/****** XXL BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $xxl-breakpoint) {
}


/*****************************/
/******* XL BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $xl-breakpoint) {
  .schedule {
    &-session {
      //grid-template-columns: 2fr 3fr 6fr;
      margin: 15px 0;

      &s {
        &:before {
          left: 230px;
          height: calc(100% + #{$schedule-divider-top-padding} + #{$schedule-day-block-margin-top-xl});
        }
      }

      &-title {
        font-size: 20px;
        padding: 5px 15px;
      }
    }

    &-day {
      font-size: 32px;
      margin-top: $schedule-day-block-margin-top-xl;

      &-block {
        margin-top: $schedule-day-block-margin-top-xl;
        font-size: 24px;
      }
    }
  }
}


/*****************************/
/***** LG BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $lg-breakpoint) {
  .breadcrumb {
    h1 {
      font-size: 54px;
    }
  }

  .schedule {
    &-session {
      //grid-template-columns: 2fr 3fr 10fr;
      margin: 15px 0;

      &s {
        &:before {
          left: 180px;
          height: calc(100% + #{$schedule-divider-top-padding} + #{$schedule-day-block-margin-top-lg});
        }
      }

      &-title {
        font-size: 18px;
        padding: 3px 10px;
      }
    }

    &-day {
      font-size: 28px;

      margin-top: $schedule-day-block-margin-top-lg;

      &-block {
        margin-top: $schedule-day-block-margin-top-lg;
        font-size: 20px;
      }
    }
  }
}


/*****************************/
/***** MD BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $md-breakpoint) {
  .schedule {
    &-session {
      grid-template-columns: 55px 115px 11fr;
      margin: 10px 0;

      &s {
        &:before {
          left: 165px;
          top: -$schedule-divider-top-padding-md;
          height: calc(100% + #{$schedule-divider-top-padding-md} + #{$schedule-day-block-margin-top-md});
        }
      }

      &-title {
        font-size: 16px;
        padding: 3px 10px;
        margin-left: 5px;

      }
    }

    &-day {
      font-size: 24px;

      margin-top: $schedule-day-block-margin-top-lg;

      &-block {
        margin-top: $schedule-day-block-margin-top-lg;
        font-size: 18px;
      }
    }
  }
}


/*****************************/
/***** SM BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $sm-breakpoint) {
}

