/*****************************/
/** BREADCRUMBS PAGE styles **/
/*****************************/

$table-first-column-width-xxl: 194px;
$table-first-column-width-xl: 170px;
$table-first-column-width-lg: 130px;
$table-first-column-width-md: 115px;

$schedule-session-icon-padding: 5px;

$schedule-session-icon-width-xxl: 100px;
$schedule-session-icon-width-xl: 95px;
$schedule-session-icon-width-lg: 75px;

$session-organiser-icon-size: 100px;


.breadcrumb {
  text-align: center;
  background-color: $main-background-color;

  &-container {
    background-image: url("#{$base-url}/img/pages/schedule-bg.png"), url("#{$base-url}/img/pages/working_sessions.jpg");
    height: 270px;
    background-position-x: -81px;
    background-position-y: -81px;
    background-repeat: no-repeat;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: $main-menu-height;
  }

  h1 {
    color: $main-action-text-color;
    font-family: 'Oswald Medium', "Helvetica Neue", sans-serif;
    font-size: 64px;
  }

}

/* end of BREADCRUMBS styles */


/*****************************/
/**** SCHEDULE PAGE styles ***/
/*****************************/

$schedule-day-block-margin-top: 10px;
$schedule-divider-top-padding: 20px;
$schedule-divider-top-padding-md: 15px;
$schedule-timing-padding: 2px 10px;

.schedule {
  &-day {
    color: $main-background-color;
    font-size: 36px;
    font-family: 'Oswald Medium', helvetica neue, helvetica, sans-serif;

    &-block {
      margin-top: $schedule-day-block-margin-top;
      font-size: 30px;
      background-color: #fff;
    }
  }

  &-link {
    margin: 30px 0;
    display: grid;
    grid-template-columns: $table-first-column-width-xxl auto $schedule-session-icon-width-xxl;
    align-items: center;

    &:hover {
      text-decoration: none;
      background-color: $title-bg3;
    }

    .schedule-session-title {
      color: $main-background-color;
    }

    &.how-many-participants- {
      &2 {
        grid-template-columns: $table-first-column-width-xxl auto 2 * ($schedule-session-icon-width-xxl + $schedule-session-icon-padding) + 2px;
      }

      &3 {
        grid-template-columns: $table-first-column-width-xxl auto 3 * ($schedule-session-icon-width-xxl + $schedule-session-icon-padding) + 3px;
      }
    }

  }

  &-session {
    position: relative;
    margin-top: 25px;

    &:before {
      position: absolute;
      top: -$schedule-divider-top-padding;
      left: $table-first-column-width-xxl - 6px;
      content: ' ';
      display: block;
      height: calc(100% + #{$schedule-divider-top-padding} + #{$schedule-day-block-margin-top});
      width: 3px;
      background-color: $main-active-link-color;
    }

    &-person {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .person {
      &-img {
        width: $schedule-session-icon-width-xxl;
        border-radius: 50%;
        margin-right: $schedule-session-icon-padding;
        margin-bottom: $schedule-session-icon-padding;
        img {
          width: 100%;
          //z-index: -1;
          &:hover {
            filter: brightness(115%);
          }
        }

        .label {
          font-size: 14px;
          margin-left: -60px;
        }
      }
    }

    &-group {
      margin-top: 50px;

      h2 {
        text-align: center;
        font-size: 50px;
      }
    }

    &-id, &-hours {
      padding: $schedule-timing-padding;
      color: $tracks-paragraph-text-color;
    }

    &-id {
      padding: $schedule-timing-padding;
      text-align: right;
      border-right: solid 1px $main-action-text-color;
      padding-left: 0;
    }

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      font-family: 'Roboto Slab', sans-serif;
      font-size: 24px;
      color: $main-background-color;
      padding: 0 20px;
      h2 {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .track_badge {
        padding: 8px 15px;
        white-space: nowrap;
        width: 280px;
        margin-top: -10px;
        //margin-left: 30px;
        background-color: $title-bg2;
        border-radius: 8px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    }

    &-organizer {
      font-size: 0.8em;
      margin-right: 10px;
      &s {
        text-align: left;
      }

      &:hover {
        color: $alt2-active-color;
      }
    }
  }
}

/* end of SCHEDULE styles */


.session {
  &-content {
    p, ul li {
      color: $session-content-text-color;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 32px;
    }

    h2 {
      font-family: 'Oswald Medium', helvetica neue, helvetica, sans-serif;
      font-weight: bold;
      font-size: 56px;
      color: $main-background-color;
      text-transform: uppercase;
    }

    h3 {
      margin-bottom: 20px;
      color: $main-action-text-color;
      font-family: 'Oswald Medium', helvetica neue, helvetica, sans-serif;
      font-size: 36px;
      font-weight: 700;
    }

    h4 {
      margin-bottom: 20px;
      color: $main-action-text-color;
      font-family: 'Oswald Medium', helvetica neue, helvetica, sans-serif;
      font-size: 28px;
      font-weight: 500;
    }
  }
}




/*****************************/
/**** SESSION NEW  styles ****/
/*****************************/

.session {
  &-section {
    .table {
      padding: 43px 22px;
      background-color: $alt-background-color;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 4px;
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-line {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        .title {
          min-width: 200px;
        }
        .description {
          height: 48px;
          padding: 10px 20px;
          flex-basis: 70%;
          background-color: #fff;
        }
        .button {
          flex-basis: 70%;
          text-align: center;
          .label {
            padding: .95em 1.6em .90em;
            font-size: 85%;
            border-radius: 1em;
            border: none;
          }
        }
      }
      .gt3 {
        display: grid;
        grid-template-rows: auto 400px;
        grid-gap: 24px;
        .table-organisers {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          &-item {
            min-width: 200px;
            a {
              display: flex;
              flex-direction: column;
              text-align: center;
              img {
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          img {
            width: $session-organiser-icon-size;
            height: $session-organiser-icon-size;
          }
        }
      }
      .le3 {
        display: grid;
        grid-template-columns: auto 230px;
        .table-organisers {
          &-item {
            padding-top: 6px;
            padding-bottom: 6px;
            a {
              //width: 220px;
              display: flex;
              flex-direction: column;
              display: flex;
              align-items: center;
            }
          }
          img {
            margin-right: 10px;
            width: $session-organiser-icon-size;
            height: $session-organiser-icon-size;
          }
        }
      }
    }
  }
}


/* END SESSION Styles */


/**************************************/
/****** SCHEDULE (All sessions) *******/
/**************************************/

.table {
  &-condensed {
    & .tr-schedule {
      & td {
        max-width: 200px !important;
      }
      & .schedule {
        &-cell {
          & .schedule {
            &-session {
              &::before {
                display: none;
              }
              & .schedule {
                &-link {
                  display: flex;
                  align-items: start;
                  & .schedule {
                    &-session {
                      &-title {
                        & .schedule {
                          &-session {
                            &-description {
                              font-size: 18px;
                            }
                            &-organizers {
                              font-size: 16px;
                            }
                          }
                        }
                      }
                      &-person {
                        & .person-img {
                          width: $sch-person-icon-w;
                          height: $sch-person-icon-h;
                          &:nth-child(2) {
                            margin-top: -30px;
                          }
                          &:nth-child(3) {
                            margin-top: -30px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/******* END OF (All sessions) ********/


/*****************************/
/****** XXL BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $xxl-breakpoint) {
}


/*****************************/
/******* XL BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $xl-breakpoint) {
  .schedule {
    &-link {
      grid-template-columns: $table-first-column-width-xl auto $schedule-session-icon-width-xl;
      margin: 15px 0;
      &.how-many-participants- {
        &2 {
          grid-template-columns: $table-first-column-width-xl auto 2 * ($schedule-session-icon-width-xl + $schedule-session-icon-padding) + 3px;
        }

        &3 {
          grid-template-columns: $table-first-column-width-xl auto 3 * ($schedule-session-icon-width-xl + $schedule-session-icon-padding) + 5px;
        }
      }
    }

    &-session {
      &:before {
        left: 157px;
        height: calc(100% + #{$schedule-divider-top-padding} + #{$schedule-day-block-margin-top});
      }

      &-title {
        h2 {
          font-size: 26px;
          margin-top: 13px;
          margin-bottom: 13px;
        }
        padding: 5px 15px;
      }
      .person {
        &-img {
          width: $schedule-session-icon-width-xl;
        }
      }
      &-organizer {
        font-size: 20px;
      }
    }

    &-day {
      font-size: 32px;
      margin-top: $schedule-day-block-margin-top;

      &-block {
        margin-top: $schedule-day-block-margin-top;
        font-size: 24px;
      }
    }
  }
  .session {
    &-section {
      .table {
        &-line {
          .title {
            min-width: 160px;
          }
          .description {
            flex-basis: 80%;
          }
          .button {
            .label {
              font-size: 80%;
            }
          }
        }
        .gt3 {
          .table {
            &-organisers {
              &-item {
                padding: 15px;
                a {
                  width: 220px !important;
                  //img {
                  //  display: none;
                  //}
                }
              }
            }
          }
        }
        .le3 {
          grid-template-columns: auto;
          grid-template-rows: auto 400px;
          .table {
            &-organizers {
              grid-area: 1;
              .table-organisers {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
              }
            }
            &-table-body {
              grid-area: 2;
            }
          }
        }
      }
    }
  }
}


/*****************************/
/***** LG BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $lg-breakpoint) {
  .breadcrumb {
    h1 {
      font-size: 54px;
    }
  }

  .schedule {
    &-link {
      grid-template-columns: $table-first-column-width-lg auto $schedule-session-icon-width-lg;
      &.how-many-participants- {
        &2 {
          grid-template-columns: $table-first-column-width-lg auto 2 * ($schedule-session-icon-width-lg  + $schedule-session-icon-padding) + 3px;
        }

        &3 {
          grid-template-columns: $table-first-column-width-lg auto 3 * ($schedule-session-icon-width-lg  + $schedule-session-icon-padding) + 5px;
        }
      }
    }

    &-session {
      &:before {
        left: 125px;
        height: calc(100% + #{$schedule-divider-top-padding} + #{$schedule-day-block-margin-top});
      }

      &-title {
        padding: 3px 10px;
        h2 {
          font-size: 24px;
          margin-top: 8px;
          margin-bottom: 8px;

        }
      }
      .person {
        &-img {
          width: $schedule-session-icon-width-lg;
        }
      }
      &-organizer {
        font-size: 16px;
      }
    }

    &-day {
      font-size: 28px;

      margin-top: $schedule-day-block-margin-top;

      &-block {
        margin-top: $schedule-day-block-margin-top;
        font-size: 20px;
      }
    }
  }


  .session {
    &-section {
      .table {
        padding: 43px 16px;
        &-line {
          .title {
            min-width: 160px;
          }
          .description {
            flex-basis: 78%;
          }
          .button {
            flex-basis: 78%;
            .label {
              font-size: 75%;
            }
          }
        }
      }
      .gt3 {
        .table {
          &-organisers {
            &-item {
              a {
                img {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

}


/*****************************/
/***** MD BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $md-breakpoint) {
  .schedule {
    &-link {
      grid-template-columns: $table-first-column-width-md auto $schedule-session-icon-width-xxl;
      margin: 10px 0;
    }

    &-session {
      &:before {
        left: 115px;
        top: -$schedule-divider-top-padding-md;
        height: calc(100% + #{$schedule-divider-top-padding-md} + #{$schedule-day-block-margin-top});
      }

      &-title {
        font-size: 16px;
        padding: 3px 10px;
        margin-left: 5px;

        .track_badge {
          font-size: 16px;
          width: 230px;
        }
      }
    }

    &-day {
      font-size: 24px;

      margin-top: $schedule-day-block-margin-top;

      &-block {
        margin-top: $schedule-day-block-margin-top;
        font-size: 18px;
      }
    }
  }


  .session {
    &-section {
      .table {
        padding: 43px 16px;
        &-line {
          .title {
            min-width: 134px;
            font-size: 16px;
          }
          .description {
            // flex-basis: 78%;
            height: 40px;
            padding: 7px 14px;
            font-size: 18px;
          }
          .button {
            flex-basis: 78%;
            .label {
              font-size: 70%;
            }
          }
        }
      }
    }
  }

}


/*****************************/
/***** SM BREAKPOINT *******/
/*****************************/

@media screen and (max-width: $sm-breakpoint) {
  .schedule {
    &-link {
      grid-template-columns: $table-first-column-width-md auto;
      margin: 40px 0;
    }

    &-session {
      &:before {
        left: 115px;
        top: -40px;
        height: calc(100% + 80px);
      }

      &-person {
        display: none;
      }
    }
  }


  .session {
    &-section {
      .table {
        padding: 20px 16px;
        &-line {
          flex-direction: column;
          .title {
            min-width: 280px;
          }
          .description {
            min-width: 280px;
            // flex-basis: 80%;
          }
          .button {
            flex-basis: 78%;
            .label {
              font-size: 60%;
            }
          }
        }
        .gt3 {
          .table {
            &-line {
              height: 40px;
            }
            &-organisers {
              &-item {
                padding-top: 6px;
                padding-bottom: 6px;
              }
            }
          }
        }
      }
    }
  }


}
