/****************************
***** TRACKS STYLES *********
*****************************/
.tracks {
  &-section {
    font-family: 'Oswald', "Helvetica Neue", sans-serif;
    padding-top: 140px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: $main-background-color;
      a {
        color: $alt-active-color;
      }
      font-size: 56px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .table {
      margin-top: 60px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 33% 33% 33%;

      .fa {
        color: $alt-active-color;
        padding-top: 3px;
        font-size: 1.2em;
      }

      &-item {
        margin-bottom: 45px;
        background-color: $main-inverse-text-color;

        .list {
          margin-top: 30px;
          margin-bottom: 60px;
          padding-left: 10px;
          padding-right: 10px;
          list-style-type: none;
          a {
            color: $tracks-paragraph-text-color;
          }

          .item {
            display: grid;
            grid-template-columns: 10px auto;
            grid-gap: 5px;
            margin-bottom: 20px;
            font-size: 28px;
            font-weight: 500;
          }
        }

        .button {
          position: absolute;
          bottom: 10px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;

          button {
            padding: 7px 36px 4px 36px;
            border: none;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 30px;
            color: $main-inverse-text-color;
            outline: none;

            &:hover {
              cursor: pointer;
            }
          }
        }

        border: 1px solid $alt-active-color;
        position: relative;

        .title {
          padding: 13px 10px 5px 10px;
          width: 85%;
          top: -35px;
          margin-left: auto;
          margin-right: auto;
          color: $alt-active-color;
          text-align: center;
          font-size: 34px;
          font-weight: 700;
          text-transform: uppercase;
          background-color: $title-bg1;
          transform: translateY(-30px);
        }

        .overtitle {
          text-align: center;
          color: $alt-active-color;
          font-size: 20px;
          font-weight: 500;
        }

        .button {
          button {
            background-color: $alt-active-color;
          }
        }
      }
    }
  }
}


/**************
*****MEDIA*****
***************/


/*** XL-Breakpoint ***/

@media screen and (max-width: $xl-breakpoint) {

  .tracks {
    &-wrapper {
      .title {
        font-size: 50px;
      }

      .table {
        &-item {
          .title {
            font-size: 28px;
          }

          .overtitle {
            font-size: 18px;
          }

          .list {
            .item {
              font-size: 23px;
            }
          }
        }
      }
    }
  }
}

/*** LG-Breakpoint ***/

@media screen and (max-width: $lg-breakpoint) {

  .tracks {
    &-wrapper {
      .table {
        grid-gap: 15px;
        grid-template-columns: 50% 50%;
      }
    }
  }

}


/*** MD-Breakpoint ***/

@media screen and (max-width: $md-breakpoint) {
  .tracks {
    &-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 345px;

      .table {
        grid-gap: 15px;
        grid-template-columns: 100%;
      }
    }
  }
}
