/* Base URL for github pages migration */
$base-url: '';
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xs-max: $screen-sm - 1px;
$screen-sm-max: $screen-md - 1px;
$screen-md-max: $screen-lg - 1px;

$main-background-color: #082451;
$main-header-color: #26264b;
$main-inverse-text-color: #ffffff;
$alt-background-color: #f3f8ec;
$alt2-background-color: #f4f9ed;
$main-active-link-color: #23c3f3;
$alt-active-color: #00559e;
$alt2-active-color: #0379a7;
$main-action-text-color: #86ba40;
$main-text-color: #9696a3;
$desc-text-color: #8c8c9a;
$footer-color: #333333;
