<style>
    .sessions table tr td {
        padding-right : 15px;
    }
</style>

<div class="sessions">
    <table class="tbale_section">
        <thead>
        <th width="300">Title</th>
        <th>Day</th>
        <th>When</th>
        <th>Delivered by</th>
        <th>Track</th>
        <th>Register</th>
        </thead>
        {{ range sort . ".Params.track" }}
            <tr>
                <td>
                    <a href="{{.Permalink }}">{{.Params.title}}</a>
                </td>
                 <td>
                     {{ .Params.when_day}}
                 </td>
                <td>
                    {{ index .Site.Data.schedule.times .Params.when_time }}
                </td>
                <td>
                    {{ .Params.organizers}}
                </td>
                <td>
                    {{ partial "utils/track-to-link.html" (dict "this" . "track" .Params.track)  }}
                </td>
                <td>
                    {{if  .Params.hey_summit -}}
                        <a href="{{.Params.hey_summit}}">book now</a>
                    {{ end }}
                </td>
            </tr>
        {{ end}}
    </table>
</div>
