<section class="video-section">
  <div class="container container-xl">
    <div class="section-title">SUMMIT VIDEOS</div>
    <div class="video-gallery">
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/9TIfoQgMEzQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">James Duncan</div>
          <div class="description">Why your corporate IT needs to look a lot more like consumer IT - (15 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/ph1etD8ooHM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Phil Huggins and Robin Oldham </div>
          <div class="description">Threat Personas and Application Vulnerability Scoring - (15 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/ph1etD8ooHM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dinis Cruz and Didar Gelici</div>
          <div class="description">Opening Keynote by Organiser Team  - (15 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/f7trG4_InPk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Paul Harragan</div>
          <div class="description">Threat Modeling - ICAP  - (12 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/rrnZNubshbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Elvin White and Vinh Tram</div>
          <div class="description">JPG & PDF ISG - How to automate Inspection and Sanitization Guidance testing - (12 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/7zs4wezbt8o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Vandana Verma</div>
          <div class="description">Applying OWASP Web Security Testing Guide - (12 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/-rKvEkEUqYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Tony Richards</div>
          <div class="description">Wardley Mapping (intermediate) - (12 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/VcmCrE8chJQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Mohammed A. Imran</div>
          <div class="description">Secrets and Credentials scanning lab by Practical DevSecOps - (12 Jun 2020)</div>
        </div>
      </div>                                                         
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/C3wn6F-P4yU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Elvin White and Greg Mann</div>
          <div class="description">Office Documents ISG How to automate Inspection and Sanitization Guidance testing - (12 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/6xgYy7X52rc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Paul Burke, Tim Lunn</div>
          <div class="description">NCSC Safe File Import Pattern - (12 Jun 2020)</div>
        </div>
      </div>      
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/yjvSI755auM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Avi Douglen </div>
          <div class="description">Introduction to Threat Modeling - (11 Jun 2020)</div>
        </div>
      </div>
            <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/j184Av-LJvI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Mohammed A. Imran</div>
          <div class="description">Dependency scanning lab by Practical DevSecOps - (11 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/4SK-U-0FDnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Demi Ben-Ari and Dov Goldman</div>
          <div class="description">Cyber and Privacy Risk Management 101 - (11 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/-ixsyaPAcNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Greg Mann and Vinh Tram</div>
          <div class="description">Office Documents ISG - How to automate Inspection and Sanitization Guidance testing - (11 Jun 2020)</div>
        </div>
      </div>      
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/X1VsceDfntc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Elvin White and Vinh Tram</div>
          <div class="description">What security exploits are prevented by implementing ISGs - (11 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/LZk7s9bnCcA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Abbas Haidar</div>
          <div class="description">O365 Security - Anti-Phishing best practises and Demo - (11 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/wCF08BdXdDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Bjorn Kimminich</div>
          <div class="description">OWASP Juice Shop intro - (11 Jun 2020)</div>
        </div>
      </div>
       <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/2Pw8oosbGas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">James Bore and Dinis Cruz</div>
          <div class="description">Incident Response Scenario Exercise - (10 Jun 2020)</div>
        </div>
      </div>     
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/X1VsceDfntc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Barak Schoster</div>
          <div class="description">Infrastructure scan & Encryption- (11 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/PGZCHxwZ82c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dinis Cruz </div>
          <div class="description">How to measure and visualise ISG standards - (10 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/kDs23thv8VE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Mario Platt</div>
          <div class="description">Using Wardley mapping for Security Strategy and Architecture development - (10 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/5JRKSrlZ2ow" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Demi Ben-Ari and Elad Shapira</div>
          <div class="description">Supply Chain Attacks: The rise of the Third Party Poopers - (10 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/mdUP1XtYTLI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Didar Gelici </div>
          <div class="description">DAST Dynamic Analysis lab by Practical DevSecOps  - (10 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/4SQtj82w5xI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Abhay Bhargav </div>
          <div class="description">Owning AppSec automation in Pyhton - (10 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/m24es4ATIhk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Petra Vukmirovic and Sara Notaro </div>
          <div class="description">Oh dear, my laptop is hacked! - (9 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/zgNFQY820Os" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Sasha Rosenbaum </div>
          <div class="description">GitHub Actions & code scanning with CodeQL - (9 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/_2lSfuVOvPA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dinis Cruz </div>
          <div class="description">What are ISGs and how to convert ISGs into checklists?  - (9 Jun 2020)</div>
        </div>
      </div>
       <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/B4F0uFhi83g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Practical DevSecOps </div>
          <div class="description">SAST- Static Analysis with lab- (9 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/FsJ5-DN1gHc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Chris Daniel </div>
          <div class="description">Wardley Mapping introduction - (9 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/ZneD_KQDWuk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dave Mattingly </div>
          <div class="description">Improv Comedy - (8 Jun 2020)</div>
        </div>
      </div>     
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/wXlB0CILWic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Stuart Peck </div>
          <div class="description">Social Engineering  - (8 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/4IcIIfsqAvM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dinis Cruz and Petra Vukmirovic</div>
          <div class="description">Threat Modeling FIRS AID - (8 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/dHkptfSUWlo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Mario Platt</div>
          <div class="description">To DevSecOps or not to DevSecOps: is that a question? - (8 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/dQdQS4TaQ7U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Petra Vukmirovic </div>
          <div class="description">Wardley Maps First Aid (5 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/17rkSmvnqas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dinis Cruz </div>
          <div class="description">Hacking GlassWall SDK & Cloud - (5 Jun 2020)</div>
        </div>
      </div>      
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/miAOOyseD-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Tatevik Stepanyan</div>
          <div class="description">Jira & Jupyter notebooks integration - (5 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/B4F0uFhi83g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Adam Smith, Diarmid Mackenzie and Dinis Cruz </div>
          <div class="description">COVID Safe Paths - Threat Modeling Part 2  - (5 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/7Pvo20Af_p0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dinis Cruz</div>
          <div class="description">Threat Modeling - Cloud Functions as Detonation Chambers - (4 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/jvK1TMUExZw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Ben Schofiled</div>
          <div class="description">Trusted Partner Network demo - (4 Jun 2020)</div>
        </div>
      </div>
    <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/IKHZXQfDHrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Adam Smith and Dinis Cruz</div>
          <div class="description">COVID Safe Paths Threat Modeling - part 1 - (4 Jun 2020)</div>
        </div>
      </div>     
    <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/mg1rnioktxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Mike Minchinton</div>
          <div class="description">NHS COVID App analysis - (3 Jun 2020)</div>
        </div>
      </div>   
   <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/7TivdJABjJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Cat Swetel</div>
          <div class="description">Introduction to Wardley Mapping - (3 Jun 2020)</div>
        </div>
      </div>
    <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/GbYwXCGVcGE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Diniz Cruz</div>
          <div class="description">Incident Response scenario planning - (3 Jun 2020)</div>
        </div>
      </div>
   <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/-w8LGhPZp1w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Joshua Jebaraj</div>
          <div class="description">Compliance as Code intro and Inspec lab - (2 Jun 2020)</div>
        </div>
      </div>
  <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/6NMjZbfnTOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Jannik Hollenbach and Robert Seedorff</div>
          <div class="description">MultiJuicer Introduction - (2 Jun)</div>
        </div>
      </div>
  <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/Ry0mXz6ZPXcg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Bjoern Kimminich</div>
          <div class="description">OWASP Juice Shop Introduction - (2 Jun 2020)</div>
        </div>
      </div>
  <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/yugHhSp5dbg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Goher Mohammad</div>
          <div class="description">Wardley Maps - (2 Jun 2020)</div>
        </div>
      </div>  
  <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" allow="fullscreen" src="https://www.youtube.com/embed/HIRbBm0klBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Kriti Mohun</div>
          <div class="description">Cloud Security 101 - (2 Jun 2020)</div>
        </div>
      </div>                           
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/7L4twzz3N7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Kriti Mohun</div>
          <div class="description">Demo of CloudGuard Dome9 - (2 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/3roVZNwptOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Trading Cards by Mark Miller</div>
          <div class="description">Drinks with Adversaries: Creating Adversary  (1 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/fwo-TryGQ6c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Mark Carney and Jay Harris </div>
          <div class="description">COVID Apps Analysis by Mark Carney (1 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/PZnnCM-mVZ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">James Bore</div>
          <div class="description">Training session - Threat Modeling (1 Jun 2020)</div>
        </div>
      </div>
      <div class="video-item">
        <div class="source">
          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/pZ9PhJf4UyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="words">
          <div class="author">Dinis Cruz</div>
          <div class="description">Security Incident Exercise deep dive (29 May)</div>
        </div>
      </div>                   
    <div class="pagination">
      <div class="arrow-left"><img src="{{ .Site.BaseURL }}/img/arrows/arrow.svg" alt="arrow-left" class="arrow-img"></div>
      <div class="pagination-number">01</div>
      <div class="pagination-number">02</div>
      <div class="pagination-number">03</div>
      <div class="arrow-right"><img src="{{ .Site.BaseURL }}/img/arrows/arrow.svg" alt="arrow-right" class="arrow-img"></div>
    </div>
  </div>
</section>
