<section class="tracks-section">
    <div class="container container-xl">
        <div class="tracks-wrapper">
            <div class="title">SUMMIT TRACKS</div>
            <div class="table">
                <div class="table-item">
                    <div class="title">Risk Management Risk Management</div>
                    <div class="overtitle">
                        Sessions focusing on CISO areas<br>
                        of concern and making security scale
                    </div>
                    <ul class="list">
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Cyber Risk Modeling
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            How can Business stakeholders
                            contribute to Risk Management
                            on Security
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            How does a CISO add value to
                            a business?
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Investing in Security</li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Open Information Security Risk
                            Universe (OISRU)
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Open sourcing policies</li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Power of wardley mapping when
                            understanding risk
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Risk & Error Budgeting</li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Security from the CEO’s point
                            of view
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Security Standards of today
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Third Party Assurance</li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Who is the CISO? Nobody knows</li>
                    </ul>
                    <div class="button">
                        <button>view all sessions</button>
                    </div>
                </div>
                <div class="table-item light-blue">
                    <div class="security">
                        <div class="title">Cloud Security</div>
                        <div class="overtitle">
                            Sessions focusing on Cloud Security
                            and Cloud Automation - AWS/Azure/GCP

                            Sessions focusing on Cloud Security
                            and Cloud Automation - AWS/Azure/GCP
                        </div>
                        
                        <ul class="list">
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Cloud Native mixed with
                                on-prem - Hybrid uses
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                secure - common usage scenarios, 
                                pre-defined templates
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                securely
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                securely- AWS, CloudFormation,
                                templates
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Migration to Cloud
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Multi-cloud security patterns
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>

                    </div>
                </div>
                <div class="table-item light-green">
                    <div class="title">Covid</div>
                    <div class="overtitle">
                        Sessions focused on
                        Covid-19 related topics
                    </div>
                    <ul class="list">
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Covid Apps Analysis
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            COVID Apps Threat Modeling
                        </li>
                        <li class="item">
                            <i class="fa fa-caret-right"></i>
                            Vulnerabilities review of
                            Covid Apps
                        </li>
                    </ul>
                    <div class="button">
                        <button>view all sessions</button>
                    </div>
                </div>
                <div class="table-item">
                    <div class="management">
                        <div class="title">Risk Management</div>
                        <div class="overtitle">
                            Sessions focusing on CISO areas<br>
                            of concern and making security scale
                        </div> 
                        <ul class="list">
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Cyber Risk Modeling
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How can Business stakeholders
                                contribute to Risk Management
                                on Security
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How does a CISO add value to
                                a business?
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Investing in Security</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Open Information Security Risk
                                Universe (OISRU)
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Open sourcing policies</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Power of wardley mapping when
                                understanding risk
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Risk & Error Budgeting</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Security from the CEO’s point
                                of view
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Security Standards of today
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Third Party Assurance</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Who is the CISO? Nobody knows</li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>
                    </div>
                </div>
                <div class="table-item">
                    <div class="security">
                        <div class="title">Cloud Security</div>
                        <div class="overtitle">
                            Sessions focusing on Cloud Security
                            and Cloud Automation - AWS/Azure/GCP
                        </div>  
                        
                        <ul class="list">
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Cloud Native mixed with
                                on-prem - Hybrid uses
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                secure - common usage scenarios, 
                                pre-defined templates
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                securely
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                securely- AWS, CloudFormation,
                                templates
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Migration to Cloud
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Multi-cloud security patterns
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>

                    </div>
                </div>
                <div class="table-item light-blue">
                    <div class="covid">
                        <div class="title">Covid</div>
                        <div class="overtitle">
                            Sessions focused on
                            Covid-19 related topics
                        </div> 
                        <ul class="list">
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Covid Apps Analysis
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                COVID Apps Threat Modeling
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Vulnerabilities review of
                                Covid Apps
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>
                    </div>
                </div>
                <div class="table-item">
                    <div class="management">
                        <div class="title">Risk Management</div>
                        <div class="overtitle">
                            Sessions focusing on CISO areas<br>
                            of concern and making security scale
                        </div> 
                        <ul class="list">
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Cyber Risk Modeling
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How can Business stakeholders
                                contribute to Risk Management
                                on Security
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How does a CISO add value to
                                a business?
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Investing in Security</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Open Information Security Risk
                                Universe (OISRU)
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Open sourcing policies</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Power of wardley mapping when
                                understanding risk
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Risk & Error Budgeting</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Security from the CEO’s point
                                of view
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Security Standards of today
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Third Party Assurance</li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Who is the CISO? Nobody knows</li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>
                    </div>
                </div>
                <div class="table-item">
                    <div class="security">
                        <div class="title">Cloud Security</div>
                        <div class="overtitle">
                            Sessions focusing on Cloud Security
                            and Cloud Automation - AWS/Azure/GCP
                        </div>  
                        
                        <ul class="list">
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Cloud Native mixed with
                                on-prem - Hybrid uses
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                secure - common usage scenarios, 
                                pre-defined templates
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                securely
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                How to provision cloud platforms
                                securely- AWS, CloudFormation,
                                templates
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Migration to Cloud
                            </li> 
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Multi-cloud security patterns
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>

                    </div>
                </div>
                <div class="table-item">
                    <div class="covid">
                        <div class="title">Covid</div>
                        <div class="overtitle">
                            Sessions focused on
                            Covid-19 related topics
                        </div> 
                        <ul class="list">
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Covid Apps Analysis
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                COVID Apps Threat Modeling
                            </li>
                            <li class="item">
                                <i class="fa fa-caret-right"></i>
                                Vulnerabilities review of
                                Covid Apps
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
  </section>
