<section class="tracks-section">
    <div class="container container-xl">
        <div class="tracks-wrapper">
            <div class="title">SUMMIT TRACKS</div>
            <div class="table">
                <div class="table-item">
                    <div class="management">
                        <div class="title">Risk Management</div>
                        <div class="overtitle">
                            Sessions focusing on CISO areas<br>
                            of concern and making security scale
                        </div> 
                        <ul class="list">
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Cyber Risk Modeling
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                How can Business stakeholders <br>
                                contribute to Risk Management <br>
                                on Security
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                How does a CISO add value to <br>
                                a business?
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Investing in Security</li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Open Information Security Risk <br>
                                Universe (OISRU)
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Open sourcing policies</li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Power of wardley mapping when <br>
                                understanding risk
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Risk & Error Budgeting</li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Security from the CEO’s point <br>
                                of view
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Security Standards of today
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Third Party Assurance</li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                                Who is the CISO? Nobody knows</li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>
                    </div>
                </div>
                <div class="table-item">
                    <div class="security">
                        <div class="title">Cloud Security</div>
                        <div class="overtitle">
                            Sessions focusing on Cloud Security <br>
                            and Cloud Automation - AWS/Azure/GCP
                        </div>  
                        
                        <ul class="list">
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                Cloud Native mixed with <br>
                                on-prem - Hybrid uses
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                How to provision cloud platforms <br>
                                secure - common usage scenarios, 
                                pre-defined templates
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                How to provision cloud platforms <br>
                                securely
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                How to provision cloud platforms <br>
                                securely- AWS, CloudFormation, <br>
                                templates
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                Migration to Cloud
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                Multi-cloud security patterns
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>

                    </div>
                </div>
                <div class="table-item">
                    <div class="covid">
                        <div class="title">Covid</div>
                        <div class="overtitle">
                            Sessions focused on <br>
                            Covid-19 related topics
                        </div> 
                        <ul class="list">
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/green-bullet.png" alt="Bullet">
                                Covid Apps Analysis
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/green-bullet.png" alt="Bullet">
                                COVID Apps Threat Modeling
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/green-bullet.png" alt="Bullet">
                                Vulnerabilities review of <br>
                                Covid Apps
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>
                    </div>
                </div>
                <div class="table-item">
                    <div class="security">
                        <div class="title">Risk Management</div>
                        <div class="overtitle">
                            Sessions focusing on Cloud Security <br>
                            and Cloud Automation - AWS/Azure/GCP
                        </div> 
                        <ul class="list">
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                Cloud Native mixed with <br>
                                on-prem - Hybrid uses
                            </li>
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                How to provision cloud platforms <br>
                                secure - common usage scenarios, 
                                pre-defined templates
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                How to provision cloud platforms <br>
                                securely
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                How to provision cloud platforms <br>
                                securely- AWS, CloudFormation, <br>
                                templates
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                Migration to Cloud
                            </li> 
                            <li class="item">
                                <img src="{{ .Site.BaseURL }}/img/home/tracks/lblue-bullet.png" alt="Bullet">
                                Multi-cloud security patterns
                            </li>
                        </ul>
                        <div class="button">
                            <button>view all sessions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
  </section>