{{ $sessions := where .track.Site.Pages ".Params.track" .track.Title}}

<div class="table-item">
    <div class="{{.style}}">
        <div class="title">
            <a href="{{ .track.Permalink }}">
                {{.track.Title}}
            </a>
        </div>
        <div class="overtitle">
            {{ .Description}}
        </div>
        <br/>
        <ul class="list">
            {{range sort $sessions ".Params.title"}}
                {{ if .Params.hey_summit}}
                        <li class="item">
                            <img src="{{ .Site.BaseURL }}/img/home/tracks/blue-bullet.png" alt="Bullet">
                            <a href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </li>
                {{ end }}
            {{end}}
        </ul>
        <a href="{{ .Permalink }}">
            <div class="button">
                <button>view track </button>
            </div>
        </a>
    </div>
</div>