<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

            <header class="full-bg background-home">

            {{ partial "nav.html" . }}

        </header>

      <div class="container-managed xxl">
        <div class="home-page">
            {{ partial "home-page/hero.html" . }}
            {{ partial "home-page/attend-summit.html" . }}
            {{ partial "home-page/book-tickets.html" . }}
            {{ partial "home-page/speakers.html" . }}
            {{ partial "home-page/summit-dates.html" . }}
            {{ partial "home-page/schedule.html" . }}
            {{ partial "home-page/photo-gallery.html" . }}
            {{ partial "home-page/previous-summits-2020.html" . }}
            {{ partial "sponsors/sponsorship-model.html" . }}
        </div>
      </div>

        {{ partialCached "footer.html"                   . }}

    </div>
    <!-- /#all -->

    {{ partialCached "scripts.html" . }}

  </body>
</html>
