<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

            <header class="full-bg background-home">

            {{ partial "nav2020.html" . }}

        </header>

        <div class="home-page">
            {{ partial "home-page/hero.html" . }}
            {{ partial "home-page/attend-summit.html" . }}
            {{ partial "home-page/book-tickets.html" . }}
            {{ partial "home-page/speakers.html" . }}
            {{ partial "home-page/schedule.html" . }}
            {{ partial "home-page/photo-gallery.html" . }}
            {{ partial "home-page/previous-summits.html" . }}
            {{ partial "sponsors/sponsorship-model.html" . }}
        </div>

        {{ partialCached "footer.html"                   . }}
<!--        <header class="full-bg background-photogrid">-->

<!--          <div class="dark-mask"></div>-->
<!--          {{/* partial "top.html"         . */}}-->
<!--          {{/* partial "nav.html"         . */}}-->
<!--        </header>-->

<!--        {{/* partial "home-page/intro.html"  . */}}-->
<!--        {{/* partial "home-page/features.html"  . */}}-->
<!--        {{/* partial "home-page/topics.html"  . */}}-->
<!--        {{/* partial "home-page/session-types.html"  . */}}-->
<!--        {{/* partial "home-page/previous-summits.html"  . */}}-->

<!--        {{/* partialCached "footer.html"                   . */}}-->

    </div>
    <!-- /#all -->

    {{ partialCached "scripts.html" . }}

  </body>
</html>
