{{ $this := .self }}
{{ $day := $this.Scratch.Get .day }}

<table class="table schedule-cell">
    {{ range $day }}
        {{ $when_time := index $this.Site.Data.schedule.times .Params.when_time }}
        {{ $organizers := partial "params/organizers.html" . }}
        {{ $this.Scratch.Set "how_many" 1 }}
        {{ if $organizers }}
            {{ $this.Scratch.Set "how_many" ( len $organizers ) }}
        {{ end }}
        {{ if gt ($this.Scratch.Get "how_many") 4 }}
            {{ $this.Scratch.Set "how_many" 3 }}
        {{ else if gt ($this.Scratch.Get "how_many") 2 }}
        {{ $this.Scratch.Set "how_many" 2 }}
        {{ end }}
        {{ $how_many := $this.Scratch.Get "how_many" }}
        {{ if .Params.hey_summit}}
            <tr>
                <td>
                    <div class="schedule-session">
                        <a class="schedule-link how-many-participants-{{ $how_many }}" href="{{.Permalink}}">
                            <div class="schedule-session-title">
                                <h2 class="schedule-session-description">{{.Params.title}}</h2>
                                <div class="schedule-session-organizers">{{ partial "schedule/list/organizers-links.html" ( dict "this" . "organizers" $organizers) }}</div>
                            </div>
                            <div class="schedule-session-person">
                                {{ partial "schedule/list/organizers-images.html" ( dict "this" . "organizers" $organizers) }}
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
        {{ end }}
    {{ end }}
</table>
