{{ $this := .}}

{{ $days_next_training := $this.Site.Data.schedule.days.days_next_training }}
{{ $days_next_summit   := $this.Site.Data.schedule.days.days_next_summit }}
{{ $days_past          := $this.Site.Data.schedule.days.days_past }}

{{ $title := "Training sessions"}}
{{ partial "schedule/list/days.html" (dict "this" $this "days" $days_next_training "title" $title) }}

{{ $title := "Summit sessions"}}
{{ partial "schedule/list/days.html" (dict "this" $this "days" $days_next_summit   "title" $title) }}

{{ $title := "Watch past sessions"}}
{{ partial "schedule/list/days.html" (dict "this" $this "days" $days_past          "title" $title) }}


<script>
    let gotoLink = (e) => {
        e.preventDefault();
        var target = e.target;
        var url = target && target.getAttribute('data-url');
        if (url) {
            window.location.href = url;
        }
    };
    $('.img-circle').click(gotoLink);
    $('.schedule-session-organizer').click(gotoLink);
</script>

