{{ $this := .this}}
<div class="schedule-day-block">
    <p class="schedule-day">{{ .day }} - {{.date}} June</p>
    {{ range sort .sessions ".Params.when_time"}}
        {{ if .Params.hey_summit}}
            {{ $when_time := index $this.Site.Data.schedule.times .Params.when_time }}

            <div class="schedule-session">
                <a class="schedule-link how-many-participants-3" href="{{.Permalink}}">
                    <div class="schedule-session-hours">{{$when_time}}</div>
                    <div class="schedule-session-title">
                        <div class="track_badge">{{.Params.track}}</div>
                        <span>{{.Params.title}}</span>
                    </div>
                    <div class="schedule-session-person">
                        <div class="person-img"><img src="{{ .Site.BaseURL }}/img/pages/person/person-01.png" alt="Person"></div>
                        <div class="person-img"><img src="{{ .Site.BaseURL }}/img/pages/person/person-01.png" alt="Person"></div>
                        <div class="person-img"><img src="{{ .Site.BaseURL }}/img/pages/person/person-01.png" alt="Person"></div>
                    </div>
                </a>
            </div>
        {{ end }}
    {{ end }}
</div>
