
{{ $this := .this}}

{{ $this.Scratch.Set "has-session" false }}

{{ range .sessions }}
    {{ if .Params.hey_summit}}
        {{ $this.Scratch.Set "has-session" true }}
    {{ end }}
{{ end }}

{{ if $this.Scratch.Get "has-session" }}

    <div class="schedule-day-block">
        <br/>
        <p class="schedule-day">{{ .day }} - {{.date}} June</p>
        {{ range sort .sessions ".Params.when_time"}}
            {{ if .Params.hey_summit}}

                {{ $when_time := index $this.Site.Data.schedule.times .Params.when_time }}

                <div class="schedule-sessions">
                    <a class="schedule-session" href="{{.Permalink}}">
                        <div class="schedule-session-hours">{{$when_time}}</div>
                        <div class="schedule-session-title">
                            <div class="track_badge">{{.Params.track}}</div>
                            <span><h2>{{.Params.title}}</h2></span>
                            <div>{{ partial "schedule/list/organizers-links.html" . }}</div>
                        </div>
                        <div class="schedule-session-person">
                            {{ partial "schedule/list/organizers-images.html" . }}
                        </div>
                    </a>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
