{{ $this  := .this}}
{{ if .pages }}
    {{ $this.Scratch.Set "pages" .pages }}
{{ else }}
    {{ $this.Scratch.Set "pages" $this.Site.Pages }}
{{ end}}
{{ $pages := $this.Scratch.Get "pages" }}

{{ if .title}}
  <div class="container schedule-session-group">
    <div class="row">
      <h2>{{upper .title}}</h2>
    </div>
  </div>
{{ end }}

  {{ with .days}}
    {{ range sort . "order"}}
      {{ $sessions := where $pages ".Params.when_day" .key }}
      {{ partial "schedule/list/day.html" (dict "this" $this "sessions" $sessions "day" .day "date" .date) }}
    {{ end}}
  {{ end}}
